* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}
.full-body {
   background-color: rgb(238, 238, 238);
   max-width: 960px;
   width: 100%;
   margin: 0 auto;
}
.tittle-ped {
   padding-top: 25px;
}
.info-emp {
   padding: 20px;
   text-align: center;
   font-size: 25px;
}
.dads {
   margin: 15px;
   padding-top: 25px;
}
label {
   display: inline-block;
   margin-left: 3px;
}
input {
   padding: 6px;
   margin: 5px 5px;
   border: 1px solid #ccc;
   border-radius: 4px;
}
.center {
   justify-content: center;
   align-items: center;
   display: flex;
}
#empresa {
   width: 45%;
}
#cnpj,
#ie {
   width: 16%;
}
#loc {
   width: 35%;
}
#cidade {
   width: 15%;
}
#estado {
   width: 5%;
}
#cep {
   width: 14%;
}

#representante {
   width: 30%;
}

#regiao {
   width: 30%;
}

.div-button {
   display: flex;
   justify-content: center;
   align-items: center;
}

.button {
   margin: 0 auto;
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 12px 50px;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   cursor: pointer;
}
.button--visualizacao {
   background-color: red;
   color: white;
}
.button--finalizacao {
   background-color: green;
   color: white;
}

@media only screen and (max-width: 600px) {
   .info-emp {
      padding: 10px;
   }

   .info-emp h4 {
      font-size: 16px;
   }

   .info-emp p {
      font-size: 11px;
   }

   #empresa {
      width: 100%;
   }

   #cnpj,
   #ie,
   #cidade,
   #estado,
   #cep {
      width: 100%;
   }

   #loc {
      width: 100%;
   }

   #representante,
   #regiao {
      width: 100%;
   }
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 10px;
}

th,
td {
   padding: 10px;
   text-align: center;
   border-bottom: 1px solid #ddd;
}

th {
   background-color: #f2f2f2;
}

tfoot td {
   padding-top: 12px;
   padding-bottom: 12px;
}

/* Estilos para o botão de rolagem suave */
#scrollTopButton {
   position: fixed;
   bottom: 20px;
   right: 20px;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   font-size: 24px;
   line-height: 50px;
   text-align: center;
   cursor: pointer;
   z-index: 9999;
}

#scrollTopButton:hover {
   background-color: #0056b3;
}
